<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
    <%- include('../partials/head'); %>
</head>
<body>


  <%- include('../partials/navbar'); %>
  <h1>signup error :(</h1>
      <%- include('../partials/footer'); %> 
</body>
</html>